@import './color.scss';

.text-white{
  color: $white!important;
}
.text-blue{
  color: $blue!important;
}
.text-gray{
  color: $gray!important;
}
.text-remark{
  color: $remark!important;
}
.text-black{
  color: $black!important;
}
.text-mark1{
  color: $mark-1!important;
}
.text-mark5{
  color: $mark-5!important;
}

.text-s{
  font-size: 12px!important;
}
.text-13{
  font-size: 13px!important;
}
.text-m{
  font-size: 14px!important;
}
.text-l{
  font-size: 16px!important;
}
.text-18{
  font-size: 18px!important;
}
.text-xl{
  font-size: 20px!important;
}
.text-xxl{
  font-size: 22px!important;
}
.text-24{
  font-size: 24px!important;
}
.text-xxxl{
  font-size: 30px!important;
}
.text-xxxxl{
  font-size: 50px!important;
}
.text-max{
  font-size: 70px!important;
}